<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<title>Code With Ash - Dashboard</title>
		<link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/7ceed728cf.js"></script>
  </head>
  <body>
		<div class="main">
      <div id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="Code With Ash" srcset="">
        </div>
        <div id="sidebar">
          <ul>
            <li><i class="fa-solid fa-house " ></i></i><a href="home" class="active">Dashboard</a></li>
            <!-- <li><i class="fa-solid fa-message"></i><a href="messages">Messages</a></li> -->
            <li><i class="fa-solid fa-message" ></i><a href="messagesbyno">Messages</a></li>

            <li><i class="fa-solid fa-newspaper" ></i><a href="blog">Blogs</a></li>
            <li><i class="fa-solid fa-user" ></i><a href="">About</a></li>
            <li><i class="fa-solid fa-gear" ></i><a href="">Settings</a></li>
            <li><i class="fa-solid fa-right-from-bracket"></i><a href="logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div class="dp">
          <img src="/uploads/" alt="Ashutosh Sharma">
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quasi perspiciatis cumque fugiat eos laborum, possimus impedit recusandae ratione modi pariatur ut nesciunt quae sunt nulla quia quas. Fugit, dolorum.
        
        </p>
        
      </div>
      
    </div>
  </body>
</html>