
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Blog</title>
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form action="/insertblog" method="post" enctype="multipart/form-data" >
        <input type="text" name="title" id="" placeholder="Title"> <br>
        
        <textarea name="content" id="" cols="30" rows="10" placeholder="Content"></textarea><br>
        <input type="text" name="author" id="" placeholder="Author"><br>
        <input type="file" src="" alt="" name="blogImage"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>