<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashutosh's Resume</title>
    <style>/* Apply styles to the <embed> element */
        embed {
            width: 800px; /* Set the width to 100% to make it responsive */
            height: 1200px; /* Adjust the height as needed */
            border: 1px solid #ccc; /* Add a border for clarity */
        }
        
        /* Style the body for better spacing */
        body {
            margin: 0;
            padding: 0;
            background: url('');
            font-family: Arial, sans-serif;
            text-align: center;
        }
        </style>
</head>
<body>
    <embed src="blogUploads/resume.pdf" width="80%" height="375" type="application/pdf">
        
</body>
</html>